.course-list{
    width: 50vw;
    box-shadow: 3px 3px 8px 2px rgba( 0 , 0 , 0 , 0.2 );
    margin-bottom: 20px;
    border-radius: 4px;
}
.course-list th{
    padding: 8px;
    background-color: #0097A7;
    border: none;
    color: white;
}
.course-list td{
  padding: 8px;
}
.course-list tr:nth-child(even){
  background-color: #f2f2f2;
}
.course-list tr:hover{
  background-color: #ddd;
}
.course-list tbody{
    text-align: center;
}
@media screen and (max-width: 850px) {
  .course-list{
    width: 80vw;
    margin: 10px;
    margin-top: 0;
  }
}
@media screen and (max-width: 500px) {
  .course-list{
    width: 100%;
    margin: 10px;
    margin-top: 0;
  }
}
